/*=======================================================================================*/
/*                                  Global                                               */
/*=======================================================================================*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{    
  background-color: white;
  color: black;
  font-family: Arial, Monospace, sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.dull--line{
  width: 500px;
  margin: 0 auto;  
  border-top: 1px solid  #d3d6da;
}

/*=======================================================================================*/
/*                                  Header                                               */
/*=======================================================================================*/

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  letter-spacing: 2px;
  width: 500px;
  height: 50px;
  margin: 0 auto;
}

header button{
  border: none;
}

.fa-style{
  font-size: 1.5rem;
}

/*=======================================================================================*/
/*                                  Game Board                                           */
/*=======================================================================================*/

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  border-radius: 3px;
  margin: 2px;
  height: 3rem;
  width: 3rem;
  text-transform: uppercase;
  border: 2px solid gray;
}

.letter-row {
  display: flex;
}

/*=======================================================================================*/
/*                                  Keyboard                                             */
/*=======================================================================================*/

#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
  
.keyboard-row {
  display: flex;
  margin: 0.5rem 0;
}

.key-tile {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
}

/*=======================================================================================*/
/*                        Pattern match tiles                                            */
/*=======================================================================================*/

.correct {
  background-color: #6AAA64;
  color: white;
  border-color: white;
}

.present {
  background-color: #C9B458;
  color: white;
  border-color: white;
}

.absent {
  background-color: #787C7E;
  color: white;
  border-color:white;
}